@model CarRepairApp.Models.OrderStructure

@{
    ViewBag.Title = "OrderDetails";
}

<br />
<br />
<br />

<h2>Detalle De Pedidos</h2>

<div>
    <h4>OrderStructure</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @* @Html.DisplayNameFor(model => model.OrderId) *@
            Pedido ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.OrderId)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.ClientId) *@
            Cliente ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.ClientId)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.StoreId) *@
            Taller ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.StoreId)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.EmployeeId) *@
            Empleado ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.EmployeeId)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.OrderTime) *@
            Fecha De Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.OrderTime)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.OrderType) *@
            Tipo De Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.OrderType)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.OrderSpecifications) *@
            Especificacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.OrderSpecifications)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.Description) *@
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.Description)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.Location) *@
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.Location)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.Status) *@
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderHead.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.OrderHead.OrderId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    @Html.ActionLink("Lista De Pedidos", "OrderList", null, new { @class = "btn btn-primary btn-large" })
</p>

