@model CarRepairApp.Models.OrderStructure

@{
    ViewBag.Title = "OrderDetails";
}

<br />
<br />
<br />

<h2>Detalle De Ordenes</h2>

<div>
    <h4>OrderStructure</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderSpecifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderSpecifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.OrderId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    @Html.ActionLink("Lista De Ordenes", "OrderList", null, new { @class = "btn btn-primary btn-large" })
</p>

