@model IEnumerable<CarRepairApp.Models.Order2Model>

@{
    ViewBag.Title = "OrderList2";
}

<br />
<br />
<br />

<h2>OrderList2</h2>


<div>
    <h4>OrderStructure</h4>
    <hr />

    <dl class="dl-horizontal">
        @*
            <dt>
                Pedido ID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderId)
                @Html.DisplayFor(model => model.FirstOrDefault.OrderId)
                @Model.FirstOrDefault(s => s.OrderId == ).
            </dd>

            <dt>
                Cliente ID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientId)
            </dd>

            <dt>
                Taller ID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreId)
            </dd>

            <dt>
                Empleado ID
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployeeId)
            </dd>

            <dt>
                Fecha De Pedido
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderTime)
            </dd>

            <dt>
                Tipo De Pedido
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderType)
            </dd>

            <dt>
                Especificacion
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderSpecifications)
            </dd>

            <dt>
                Descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Ubicación
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
        Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        
            <th>
                @Html.DisplayNameFor(model => model.StoreId)
            </th>
        
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specifications)
        </th>
        
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.OrderSpecifications)
            </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderLineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNotes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specifications)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderSpecifications)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderLineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNotes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

