@model CarRepairApp.Models.ClientModel

@{
    ViewBag.Title = "ClientDetails";
}

<br />
<br />
<br />

<div class="content-head  content-title">
<br/>
<h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> Detalles del Cliente</h2>
<h4>ClientModel</h4>
<br/>
</div>

<div>
    <hr />
    <dl class="dl-horizontal content-body">
        <dt>
            @* @Html.DisplayNameFor(model => model.ClientId) *@
            Cliente ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.UserName) *@
            Nombre De Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.FirstName) *@
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.LastName) *@
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.Location) *@
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PhoneNumber) *@
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.Status) *@
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.ClientId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    @Html.ActionLink("Lista De Clientes", "ClientList", null, new { @class = "btn btn-primary" })
</p>
