@model IEnumerable<CarRepairApp.Models.ServiceModel>

@{
    ViewBag.Title = "ServiceList";
}

<br />
<br />
<br />
<br />


<div class="content-head content-title">
    <br />
    <h2> <i class="fa fa-medkit" aria-hidden="true"></i> Lista De Servicios</h2>
    <br/>
</div>
    <table class="table">
        <tr class="content-body">
            <th>
                Servicio ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha de Servicio
            </th>
            <th>
                Estado
            </th>
            <th>
                Tipo de Servicio
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("DeleteServiceByID", "Service", new { id = item.ServiceId /* id=item.PrimaryKey */ }))
            {
                <tr>
                    <td>

                        <a onclick="location.href = '@(Url.Action("SeviceDetails", "Service", new { id = item.ServiceId }))'">
                            @Html.DisplayFor(modelItem => item.ServiceId)
                        </a>
                    </td>
                    <td>
                        <a onclick="location.href = '@(Url.Action("SeviceDetails", "Service", new { id = item.ServiceId }))'">
                            @Html.DisplayFor(modelItem => item.ServiceName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceType)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Update", new { id = item.ServiceId  /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Detalles", "SeviceDetails", new { id = item.ServiceId /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })

                        <input class="btn btn-danger" type="submit" value="Borrar"
                               onclick="return confirm('Are you sure you want to delete record with ID = @item.ServiceId Service: @item.ServiceName');" />
                    </td>
                </tr>
            }
        }

    </table>


    <p>
        @Html.ActionLink("Agregar Nuevo Servicio", "Create", null, new { @class = "btn btn-primary btn-large" })
    </p>
