@model CarRepairApp.Models.ServiceModel

@{
    ViewBag.Title = "SeviceDetails";
}

<br />
<br />
<br />

<div class="content-head  content-title">
    <br />
    <h2><i class="fa fa-medkit" aria-hidden="true"></i> Detalles De Servicios</h2>
    <h4>ServiceModel</h4>
    <br />
</div>

<div>
    <hr />
    <dl class="dl-horizontal content-body">
        <dt>
            Servicio ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>

        <dt>
            Fecha De Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Tipo De Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.ServiceId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    @Html.ActionLink("Lista De Servicios", "ServiceList", null, new { @class = "btn btn-primary" })
</p>
