@model IEnumerable<CarRepairApp.Models.StoreModel>

@{
    ViewBag.Title = "Store List";
}

<br />
<br />
<br />

<div class="content-head">
    <br/>
<h2>Lista De Talleres De Mecanica</h2>
    <br/>
</div>
<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.StoreId)*@
            Taller ID
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.StoreName)*@
            Nombre
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.StoreAddress) *@
            Ubicación
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.PhoneNumber) *@
            Teléfono
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.HoursOfOperation) *@
            Horas De Operación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeleteStoreByID", "Store", new { id = item.StoreId /* id=item.PrimaryKey */ }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursOfOperation)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Update", new { id = item.StoreId /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Detalles", "StoreDetails", new { id = item.StoreId /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })

                    <input class="btn btn-danger" type="submit" value="Borrar"
                           onclick="return confirm('Are you sure you want to delete record with ID = @item.StoreId Store: @item.StoreName');" />
                </td>
            </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Agregar Nuevo Taller", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>