@model CarRepairApp.Models.StoreModel

@{
    ViewBag.Title = "StoreDetails";
}

<br />
<br />
<br />


<div class="content-head  content-title">
    <br />
    <h2> <i class="fa fa-wrench" aria-hidden="true"></i> Detalles DeL Taller</h2>
    <h4>(Demo) StoreModel</h4>
    <br />
</div>

    <div>
        <hr />
        <dl class="dl-horizontal content-body">
            <dt>
                Taller ID

            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreId)
            </dd>

            <dt>
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreName)
            </dd>

            <dt>
                Ubicación
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreAddress)
            </dd>

            <dt>
                Teléfono

            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                Horas de Operación
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoursOfOperation)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Update", new { id = Model.StoreId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
        @Html.ActionLink("Lista De Talleres", "StoreList", null, new { @class = "btn btn-primary btn-large" })
    </p>
