@model IEnumerable<CarRepairApp.Models.StoreModel>

@{
    ViewBag.Title = "StoreList";
}

<h2>StoreList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursOfOperation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeleteStoreByID", "Store", new { id = item.StoreId /* id=item.PrimaryKey */ }))
        { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursOfOperation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.StoreId /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "StoreDetails", new { id = item.StoreId /* id=item.PrimaryKey */ }) |
                
                <input class="btn btn-danger" type="submit" value="Delete"
                       onclick="return confirm('Are you sure you want to delete record with ID = @item.StoreId Store: @item.StoreName');" />
            </td>
        </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Add New Store", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>