@model CarRepairApp.Models.EmployeeModel

@{
    ViewBag.Title = "EmployeeDetails";
}

<br />
<br />
<br />

<h2>Detalles Del Empleado</h2>

<div>
    <h4>(Demo) EmployeeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Empleado ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            Nombre De Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Ubicación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.EmployeeId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    @Html.ActionLink("Lista de Empleados", "EmployeeList", null, new { @class = "btn btn-primary btn-large" })
</p>
