@model CarRepairApp.Models.PartModel

@{
    ViewBag.Title = "PartDetails";
}

<br />
<br />
<br />

<h2>Detalles De Piezas</h2>

<div>
    <h4>(Demo) PartModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @* @Html.DisplayNameFor(model => model.PartId) *@
            Pieza ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartId)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PartName) *@
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PartDescription) *@
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartDescription)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PartNumber) *@
            Numero De Pieza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PartSupplier) *@
            Proveedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartSupplier)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PartManufacturer) *@
            Fabricante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartManufacturer)
        </dd>


        <dt>
            @* @Html.DisplayNameFor(model => model.PartCost) *@
            Costo (Fabrica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartCost)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.PartPrice) *@
            Precio (Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.PartId /* id = Model.PrimaryKey */ }, new { @class = "btn btn-success" })
    @Html.ActionLink("Lista de Piezas", "PartList", null, new { @class = "btn btn-primary" })
</p>
