@model IEnumerable<CarRepairApp.Models.PartModel>

@{
    ViewBag.Title = "PartList";
}

<br />
<br />
<br />

<h2>Lista De Piezas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartSupplier)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PartManufacturer)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PartCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeletePartByID", "Part", new { id = item.PartId /* id=item.PrimaryKey */ }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartSupplier)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PartManufacturer)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PartCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartPrice)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Update", new { id = item.PartId /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Detalles", "PartDetails", new { id = item.PartId /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })

                    <input class="btn btn-danger" type="submit" value="Borrar"
                           onclick="return confirm('Are you sure you want to delete record with ID = @item.PartId Part: @item.PartName');" />
                </td>
            </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Agregar Nueva Pieza", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>